<h2><%= @user.name %>'s Posts</h2>
<% @posts.each do |post| %>
  <p><%= link_to post.title, user_post_path(@user,post) %></p>
<% end %>
<hr>
<%= link_to "Create New Post", new_user_post_path(@user) %>